#calculator-base {
    background-color: gray;
    height: 700px;
    width: 340px;
    margin: auto;
    border-radius: 50px;
}
#inputOutput {
    background-color: white;
    width: 280px;
    margin: auto;
    border-radius: 3px;
    font-size: 30px;
}
body {
    text-align: center;
}
p {
    color: lawngreen;
}
button {
    width: 5.5rem;
    height: 74px;
    margin-bottom: 20px;
}
#back {
    height: 20px;
    width: 90px;
    float: left;
    margin-left: 20px;
}
#clear {
    width: 50px;
    height: 20px;
    margin-left: 90px;
}