@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#calculator-base {
    background-color: #474747;
    height: 600px;
    width: 400px;
    margin: auto;
    border-radius: 50px;
}
#inputOutput {
    background-color: white;
    width: 280px;
    height: 50px;
    margin: auto;
    border-radius: 3px;
    font-size: 30px;
    margin-bottom: 20px;
}
body {
    text-align: center;
    background: #614e4e;
}
p {
    color: white;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}
button {
    width: 5.5rem;
    height: 74px;
    margin-bottom: 20px;
}
#back {
    height: 30px;
    width: 120px;
    float: left;
    margin-left: 20px;
}
#clear {
    width: 60px;
    height: 30px;
    margin-left: 180px;
}
button:active {
    transform: scale(1.1);
}
#title {
    font-size: 20px;
}
.operator {
    background-color: #3f8b9e;
    color: #ffc296;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
.number {
    background-color: #e6894c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.outliers {
    background-color: #eb5550;
    color: #c2f2cd;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.others {
    background-color: #7a21e8;
    color: #e8b021;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}